backend/__pycache__/main.cpython-312.pyc
backend/__pycache__/models.cpython-312.pyc
backend/__pycache__/schema.cpython-312.pyc
backend/projetos_database.db
node_modules/
frontend/styles.css.map
frontend/styles-raw.css
package-lock.json
package.json
